/* Contenedor */
.center-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

/* Título */
.home-title {
    text-align: center;
}

/* Seccion de botones */
.home-buttons-section {
    display: flex;
    gap: 1.5rem;
}

/* Botones */
.btn-main {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.btn-main:hover {
    background-color: #333;
    color: #fff;
}